/* boostrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

header .header_container{
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header_container img{
    width: 200px;
}

main{
    width: 100%;
}

.filtros{
    max-width: 1024px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    gap: 1rem; 
}

#productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    max-width: 1024px;
    margin: 20px auto; 
}

#productos .tarjeta-producto{
    width: 250px;
    border: 2px solid rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding: 20px;
    text-align: center;
    box-shadow: 9px 13px 11px -3px rgba(0,0,0,0.51);
    -webkit-box-shadow: 9px 13px 11px -3px rgba(0,0,0,0.51);
    -moz-box-shadow: 9px 13px 11px -3px rgba(0,0,0,0.51);
    border-radius: 10px;
}

#productos .tarjeta-producto div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#productos .tarjeta-producto img{
    width: 100%;
    height: 250px;
}